html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#main-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  .table {
    td.action {
      width: 60px;
      span {
        cursor: pointer;
      }
    }
  }
}